/* fonts 
    font-family: 'Fira Code', monospace;
    font-family: 'Lato', sans-serif;
 */

/* clores
fondo
#1a193b
#2e2b85
#496e76 
#8f6fc6
#deb15a
#aa6842*/


/* wave 1
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1a193b" fill-opacity="1" d="M0,128L17.1,133.3C34.3,139,69,149,103,181.3C137.1,213,171,267,206,288C240,309,274,299,309,272C342.9,245,377,203,411,165.3C445.7,128,480,96,514,74.7C548.6,53,583,43,617,48C651.4,53,686,75,720,96C754.3,117,789,139,823,149.3C857.1,160,891,160,926,154.7C960,149,994,139,1029,160C1062.9,181,1097,235,1131,266.7C1165.7,299,1200,309,1234,266.7C1268.6,224,1303,128,1337,106.7C1371.4,85,1406,139,1423,165.3L1440,192L1440,320L1422.9,320C1405.7,320,1371,320,1337,320C1302.9,320,1269,320,1234,320C1200,320,1166,320,1131,320C1097.1,320,1063,320,1029,320C994.3,320,960,320,926,320C891.4,320,857,320,823,320C788.6,320,754,320,720,320C685.7,320,651,320,617,320C582.9,320,549,320,514,320C480,320,446,320,411,320C377.1,320,343,320,309,320C274.3,320,240,320,206,320C171.4,320,137,320,103,320C68.6,320,34,320,17,320L0,320Z"></path></svg>

wave2
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1a193b" fill-opacity="1" d="M0,0L18.5,42.7C36.9,85,74,171,111,202.7C147.7,235,185,213,222,218.7C258.5,224,295,256,332,250.7C369.2,245,406,203,443,165.3C480,128,517,96,554,117.3C590.8,139,628,213,665,224C701.5,235,738,181,775,186.7C812.3,192,849,256,886,261.3C923.1,267,960,213,997,186.7C1033.8,160,1071,160,1108,149.3C1144.6,139,1182,117,1218,106.7C1255.4,96,1292,96,1329,106.7C1366.2,117,1403,139,1422,149.3L1440,160L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z"></path></svg>

wave 3

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1a193b" fill-opacity="1" d="M0,224L26.7,202.7C53.3,181,107,139,160,133.3C213.3,128,267,160,320,165.3C373.3,171,427,149,480,117.3C533.3,85,587,43,640,58.7C693.3,75,747,149,800,197.3C853.3,245,907,267,960,256C1013.3,245,1067,203,1120,160C1173.3,117,1227,75,1280,53.3C1333.3,32,1387,32,1413,32L1440,32L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg>

wave 4
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1a193b" fill-opacity="1" d="M0,288L21.8,250.7C43.6,213,87,139,131,144C174.5,149,218,235,262,272C305.5,309,349,299,393,272C436.4,245,480,203,524,192C567.3,181,611,203,655,186.7C698.2,171,742,117,785,128C829.1,139,873,213,916,240C960,267,1004,245,1047,218.7C1090.9,192,1135,160,1178,133.3C1221.8,107,1265,85,1309,101.3C1352.7,117,1396,171,1418,197.3L1440,224L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>
*/
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: #1a193b ; */
}
.navbar{
  display: flex;
  justify-content: space-around;
  font-family: 'Fira Code', monospace;
}
.navbar-brand{
  color: #8f6fc6 ;
}
.nav-color-a{
  color: #aa6842;
}
.contenido{
  background-image: url(../img/new_wave_988.2004430577597.svg);
}

