/* fonts 
    font-family: 'Fira Code', monospace;
    font-family: 'Lato', sans-serif;
 */

/* clores
#1a193b
#2e2b85
#79b5f7
#9bf1a0
#496e76 
#8f6fc6
#deb15a
#efd955
#aa6842
#bc6c2b
#68323d
#d68074*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.contenido--titulo {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  color: #79b5f7;
  font-size: clamp(2em, 7vw, 5em);
  text-align: center;
  margin-bottom: clamp(1rem, 1rem, 2rem);
  text-shadow: -2px 1px 3px #353535;
  padding-top: 2rem;
}


/**  ---MENU--- */

.header {
  font-family: 'Fira Code', monospace;
  background-color: #1a193b;
}

.navbar-toggler {
  color: #8f6fc685;
  background-color: #8f6fc6;
}

h1 {
  color: #8f6fc6;
  font-size: clamp(.85rem, 3vw, 1.5rem);
}

.navbar-brand {
  color: #8f6fc6;
}

.nav-color-a {
  color: #aa6842;
}

.nav-color-b {
  color: #9bf1a0;
}

.nav-color-c {
  color: #deb15a;
}

.nav-color-d {
  color: #79b5f7;
}

.nav-color-e {
  color: #d68074;
}

.navbar-nav a:hover {
  color: #efd955;
  text-decoration: overline underline;
}


/* * PRESENTACION */

.contenido {
  background-color: #dddada;
}


.presentacion {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  margin-top: -11rem;

}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.titulo--nombre h2 {
  font-size: clamp(32px, 7vw, 120px);
}

.titulo--subtitulo h3 {
  font-size: clamp(.75rem, 1rem + 2vw, 3rem);
}



.presentacion--descripcion {
  font-weight: 400;
  font-size: clamp(1rem, 50vw, 1.5rem);
  margin: 0 2rem;
  padding: 1rem;
}


.presentacion--imagen {
  border-radius: 75% 25% 18% 82% / 55% 13% 87% 45%;
  width: clamp(10rem, 22vw, 50rem);
  margin-left: 1rem;

}

/* * SOBRE MI */
.info-personal {
  font-family: 'Lato', sans-serif;
  font-size: clamp(.70rem, 30vw, 1.5rem);
  color: #79b5f7;
  line-height: 2rem;
  width: 90%;
  margin: 0 auto;
  /* text-align: justify; */
  padding-bottom: 2rem;
}

.acerca {
  background-color: #1a193b;
}


/* * ENLACES */

.enlaces {
  background-color: #1a193b;
  font-size: clamp(1rem, 30vw, 5rem);
}

.enlaces div {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}



/* * SKILLS */

.skills {
  background-color: #1a193b;
}

.skills h2 {
  padding-top: 4rem;
}

.skills--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;

}

.skills--item {
  font-family: 'Fira Code', monospace;
  font-size: 3rem;
  color: #79b5f7;
  text-align: center;
  padding: 2rem;

}

.skills--item img {
  width: 5rem;
  object-fit: contain;
}

/* * PROYECTOS */

.proyectos .proyectos--card {
  width: 90%;
  border-top: #1a193b solid 2px;
  margin: 0 auto;
  background-color: #dddada;
}

.proyectos--card h4 {
  font-family: 'Fira Code', monospace;
  margin-top: 3rem;
  margin-left: 1rem;
  padding: 1rem;
}

.proyectos--card img {
  width: 45%;
  text-align: left;
  margin: 2rem 0;
}

.proyectos--card--flex {
  display: flex;
  justify-content: space-evenly;
}

.proyectos--card--texto {
  width: 50%;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proyectos--card--texto p {
  font-size: clamp(.7rem, 1.125rem, 1.5rem);
  margin-bottom: 5rem;
}

.proyectos--card--texto div {
  display: flex;
  justify-content: center;
}

.proyectos--card--texto a {
  text-decoration: none;
  color: #79b5f7;
  font-size: 1rem;
  padding: .5rem;
  margin: 0 1rem;
  border: #1A193B 1px solid;
  border-radius: 7px;
  background-color: #1A193B;
}

.proyectos--card--texto a:hover {
  color: #1A193B;
  background-color: #79b5f7;
}

.proyectos--card img {
  border-radius: 7px;
  /* box-shadow: -2px 1px 2px #1A193B; */
  object-fit: contain;
  object-position: center;
}

.proyectos--card img:hover {
  transition: ease-in-out .5s;
}




/* * FORMACION */

.estudios {
  background-color: #1a193b;
  margin-bottom: 0;
}

.estudios .card-group {
  width: 75%;
  margin: 0 auto;
}

.card {
  background-color: #1a193b;
  border: #79b5f7 solid 2px;
}

.formacion--card img {
  object-fit: contain;
  object-position: center;
}

.formacion--card .card-title {
  color: #79b5f7;
}

.formacion--card p {
  color: #79b5f7;
}

.card-footer .btn {
  color: #1A193B;
  background-color: #79b5f7;
}

.card-footer .btn:hover {
  color: #79b5f7;
  background-color: #1A193B;
}

/** certificado */

.certificados {
  background-color: #1a193b;
  padding: 5rem 0 3rem 0;
}

.certificados .btn {
  font-size: 1.125rem;
  color: #79b5f7;
  background-color: #1A193B;
}

/* * Contacto */

.contacto {
  padding-bottom: 3rem;
  margin-top: -5rem;
}

.contacto .btn {
  width: 100%;
  color: #1A193B;
  background-color: #79b5f7;
}

.contacto .btn:hover {
  border: #79b5f7 .5px solid;
  color: #79b5f7;
  background-color: #1A193B;
}

.contacto--mail {
  font-size: 1.25rem;
}

.contacto--img {
  object-fit: cover;
  object-position: center;
}



.footer {
  height: 10vh;
  background-color: #1a193b;
  /* margin-top: 3rem; */
}






@media screen and (max-width: 1024px) {
  .presentacion {
    margin-top: -5rem;
    flex-direction: column;
  }


}

@media screen and (max-width: 760px) {
  .presentacion {
    margin-top: -3rem;
  }

  .enlaces div {
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    justify-content: flex-start;
  }

  .proyectos--card--flex {
    flex-direction: column;
  }

  .proyectos--card img {
    width: 90%;

  }

  .proyectos--card--texto {
    z-index: 0;
    width: 90%;
    padding: 1rem;
  }

  .skills--item {
    padding: .7rem;
  }

  .skills--titulo {
    font-size: 1rem;
  }

  .skills--item img {
    width: 3rem;
    font-size: .9rem;
  }
}