/* fonts 
    font-family: 'Fira Code', monospace;
    font-family: 'Lato', sans-serif;
 */

/* clores
fondo #1a193b
#2e2b85
#79b5f7
#9bf1a0
#496e76 
#8f6fc6
#deb15a
#efd955
#aa6842
#bc6c2b
#68323d
#d68074*/

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenido--titulo{
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  color: #79b5f7;
  font-size:  clamp(32px, 7vw , 120px);
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: -3px 2px 4px #1A193B;
}

/**  ---MENU--- */

.header{
  font-family: 'Fira Code', monospace;
  background-color: #1a193b; 
}
.navbar-toggler{
  color:   #8f6fc685;
  background-color: #8f6fc6 ;
}
h1{
  color:#8f6fc6;
  font-size: clamp(.85rem, 3vw , 1.5rem);
}

.navbar-brand{
  color: #8f6fc6 ;
}
.nav-color-a{
  color: #aa6842;
}
.nav-color-b{
color: #9bf1a0;
}
.nav-color-c{
color: #deb15a ;
}
.nav-color-d{
color: #79b5f7;
}
.nav-color-e{
color:#d68074;
}
.navbar-nav a:hover{
  color: #efd955;
  text-decoration: overline underline;
}


/* * PRESENTACION */

.contenido{
  background-color: #dddada;
}

.presentacion{
    display: flex;    
    align-items: center;
    font-family: 'Lato', sans-serif;
    
  }
  .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}
.titulo--nombre h2{
  font-size:  clamp(32px, 7vw , 120px);
}
.titulo--subtitulo h3{
  font-size:  clamp(.75rem, 1.5rem + 2vw , 3rem);
}



.presentacion--descripcion{
font-weight: 400;
font-size: clamp(1rem, 50vw , 1.5rem);
margin: 0 2rem;
padding: 1rem;
}


.presentacion--imagen{
  border-radius:  75% 25% 18% 82% / 55% 13% 87% 45% ;
  width: clamp(10rem, 50vw, 50rem);
  margin-left: 1rem;
  
}

/* * SOBRE MI */
.info-personal{
font-family: 'Lato', sans-serif;
font-size: clamp(.70rem, 30vw , 1.5rem);
color: #79b5f7;
line-height: 2rem;
width: 70%;
margin: 0 auto;
text-align: justify;
padding-bottom: 2rem;
}
.acerca{
  background-color: #1a193b;
}


/* * ENLACES */

.enlaces{
  background-color: #1a193b;
  font-size: clamp(1rem, 30vw , 5rem);
  display: flex;
  justify-content: space-around;
}
.enlaces:hover{
  /* tambien agregar la animaciones */
}
.enlaces--cv__flex{
  display: flex;
  flex-direction: column-reverse;
}

.enlaces--cv{
  font-size: 12px;
}


/* * SKILLS */

.skills{
  background-color: #1a193b;
}

.skills h2{
  padding: 4rem 0 2rem 0;
}
.skills--container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.skills--item{
  font-family: 'Fira Code', monospace;
  font-size: 3rem;
  color: #79b5f7;
  margin: 2rem;
  text-align: center;
  padding: 2rem;

}

.skills--item img{
  width: 8rem;
  object-fit: contain;
}

/* * PROYECTOS */

.proyectos--card{
  width: 100%;
  border-top: #1a193b solid 2px;
}
.proyectos--card h4{
  font-family: 'Fira Code', monospace;
  margin-left: 1rem;
  padding: 1rem;
}
.proyectos--card img{
  width: 45%;
  text-align: left;
  margin: 2rem 0;
}
.proyectos--card--flex{
  display: flex;
}
.proyectos--card--texto{
width: 50%;
padding: 2rem;
font-family: 'Lato', sans-serif;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.proyectos--card--texto p {
  font-size: clamp(.7rem, 1.125rem, 1.5rem);
}
.proyectos--card--texto div{
  display: flex;
  justify-content: space-around;
}
.proyectos--card--texto a {
  text-decoration: none;
  color: #79b5f7;
  font-size: 1.5rem;
  padding: .725rem;
  border: #1A193B 1px solid;
  border-radius: 7px;
  background-color: #1A193B;
  }
  .proyectos--card--texto a:hover{
    color: #1A193B;
    background-color: #79b5f7;
  }
  .proyectos--card img{
    opacity: 0.7;
    border-radius: 7px;
    box-shadow: -3px 2px 4px #1A193B;
    object-fit: cover;
  }
  .proyectos--card img:hover{
    opacity: 1;
    transition: ease-in-out .5s;
  }


/* * FORMACION */




.estudios{
  background-color: #1a193b;
  margin-bottom: 0;

}





@media screen and (max-width: 760px) {
  .presentacion{
    flex-direction: column;
  }
  .enlaces{
    flex-direction: column;
    align-items: center;
  }

  .proyectos--card--flex{
    flex-direction: column;
  }
  .proyectos--card img{
    width: 90%;
    z-index: 1;
  }
  .proyectos--card--texto{
    z-index: 0;
    width: 90%;
    padding: 1rem;
    }
    .skills--item{
      padding: .7rem;
      
    }
    .skills--item img{
      width: 4rem;
      font-size: .9rem;
    }
}